body {
    font-family: 'Arial, sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
  }
  
  .chessboard {
    display: flex;
    flex-wrap: wrap;
    width: 640px; 
    height: 640px; 
    border: 50px solid rgb(42, 110, 165);

    
    
  }
  
  
  .square {
    width: 80px; 
    height: 80px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:rgb(1, 7, 13);
  }
  
  .white {
    background-color:brown
  }
  
  .black {
    background-color: #e6e2df;
  }
  